<h1>Crear cuenta</h1>

<form #newUsr="ngForm" id="usr">
    <div class="form-group">
      <label for="exampleFormControlInput1">Nombre</label>
      <input type="text" class="form-control" [(ngModel)]="nom" #nomEn="ngModel" name="nomEn" placeholder="Inserte el nombre" required>
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Primer Apellido</label>
      <input type="text" class="form-control" [(ngModel)]="ape1" #ape1En="ngModel" name="ape1En"  placeholder="Inserte su primer apellido" required>
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Segundo Apellido</label>
      <input type="text" class="form-control" [(ngModel)]="ape2" #ape2En="ngModel" name="ape2En"  placeholder="Inserte su segundo apellido" required>
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Correo Electrónico</label>
      <input type="email" class="form-control" [(ngModel)]="cor" #corEn="ngModel" name="corEn"  placeholder="Inserte el correo" required>
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Contraseña</label>
      <input type="password" class="form-control" [(ngModel)]="con" #conEn="ngModel" name="conEn" required>
    </div>
    
    <div class="form-group">
      <label for="exampleFormControlInput1">DNI</label>
      <input type="text" class="form-control" [(ngModel)]="DNI" #DNIEn="ngModel" name="DNIEn" required>
    </div>
    
    
    <div class="form-group">
      <label for="exampleFormControlInput1">Fecha nacimiento</label>
      <input type="date" class="form-control" [(ngModel)]="nac" #nacEn="ngModel" name="nacEn" required>
    </div>
 
    <div class="form-group">
      <label for="exampleFormControlInput1">Teléfono</label>
      <input type="number" class="form-control" [(ngModel)]="tel" #telEn="ngModel" name="telEn" required>
    </div>
    
    <div class="form-group">
        <label for="exampleFormControlInput1">Ciudad</label>
        <select class="form-control" [(ngModel)]="ciu" #ciuEn="ngModel" name="ciuEn" required>
            <option value="" disabled selected>Select Country</option>
            <option *ngFor="let country of countries" [value]="country.name">{{country.nm}}</option>
        </select>
    </div>


    <div class="form-group">
      <label for="exampleFormControlInput1">Dirección</label>
      <input type="text" class="form-control" [(ngModel)]="dir" #dirEn="ngModel" name="dirEn" required>
    </div>

      <div class="form-group">
        <label for="exampleFormControlInput1">Fotografía</label>
        <input type="file"  [(ngModel)]="img"  #IMGEn="ngModel" name="IMGEn" (change)="handleFileInput($event)" required>
      </div>

<button  (click)="crearCuenta()" class="btn btn-primary" title="Crear cuenta">Crear cuenta</button>
</form>