<div style="background-color: #d2eeec; height: 850px;">
  <h1>Crear cuenta</h1>
  <form #newUsr="ngForm" id="usr">
    <div align="center">
      <div *ngIf="step==0" class="card" id="card1" style="width: 60%;" align="left">
        <div class="card-body">
          <h2 class="card-title">Primer paso</h2>
          <div class="form-group">
            <label for="exampleFormControlInput1">Nombre</label>
            <input type="text" class="form-control" [(ngModel)]="nom" #nomEn="ngModel" name="nomEn"
              placeholder="Inserta tu nombre" required>
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Primer Apellido</label>
            <input type="text" class="form-control" [(ngModel)]="ape1" #ape1En="ngModel" name="ape1En"
              placeholder="Inserta tu primer apellido" required>
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Segundo Apellido</label>
            <input type="text" class="form-control" [(ngModel)]="ape2" #ape2En="ngModel" name="ape2En"
              placeholder="Inserta tu segundo apellido" required>
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Teléfono</label>
            <input type="number" class="form-control" [(ngModel)]="tel" #telEn="ngModel" name="telEn"
              placeholder="Inserta tu teléfono" required>
          </div>
          <div align="center">
            <button class="btn btn-primary" (click)="nextStep()" id="nextButton">Siguiente</button>
          </div>
        </div>
      </div>

      <div *ngIf="step==1" class="card" id="card2" style="width: 60%;" align="left">
        <div class="card-body">
          <div align="left" style="display:inline-flex">
            <button class="btn btn-primary" (click)="backStep()" id="back">Atrás</button>
          </div>
          <h2 class="card-title" style="display:inline-flex; padding-left: 25% !important;">Segundo paso</h2>
          <div class="form-group">
            <label for="exampleFormControlInput1">Correo Electrónico</label>
            <input type="email" class="form-control" [(ngModel)]="cor" #corEn="ngModel" name="corEn"
              placeholder="Inserta tu correo electrónico" required>
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Contraseña</label>
            <input type="password" class="form-control" [(ngModel)]="con" #conEn="ngModel" name="conEn"
              placeholder="Inserta una contraseña" required>
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">DNI</label>
            <input type="text" class="form-control" [(ngModel)]="DNI" #DNIEn="ngModel" name="DNIEn"
              placeholder="Inserta tu DNI" required>
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Fecha nacimiento</label>
            <input type="date" class="form-control" [(ngModel)]="nac" #nacEn="ngModel" name="nacEn" required>
          </div>
          <div align="center">
            <button class="btn btn-primary" (click)="nextStep()" id="nextButton">Siguiente</button>
          </div>
        </div>
      </div>

      <div *ngIf="step==2" class="card" id="card2" style="width: 60%;" align="left">
        <div class="card-body">
          <div align="left" style="display:inline-flex">
            <button class="btn btn-primary" (click)="backStep()" id="back">Atrás</button>
          </div>
          <h2 class="card-title" style="display:inline-flex; padding-left: 27% !important;">Tercer paso</h2>
          <div class="form-group">
            <label for="exampleFormControlInput1">Ciudad</label>
            <select class="form-control" [(ngModel)]="ciu" #ciuEn="ngModel" name="ciuEn" required>
              <option value="" disabled selected>Inserta tu ciudad</option>
              <option *ngFor="let country of countries">{{country.nm}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Dirección</label>
            <input type="text" class="form-control" [(ngModel)]="dir" #dirEn="ngModel" name="dirEn"
              placeholder="Inserte tu dirección" required>
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Fotografía</label>
            <input id="inputImagen" type="file" [(ngModel)]="img" #IMGEn="ngModel" name="IMGEn"
              (change)="handleFileInput($event)" required>
          </div>
          <div align="center">
            <button class="btn btn-primary" (click)="crearCuenta()" title="Crear cuenta" id="createAccount">Crear
              cuenta</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>