<div id="tapar">
  <img [src]="'/assets/logoSinFondo.png'" id="logo" href="#" [routerLink]="['/']">
  <h1>{{ serv.toUpperCase() }}</h1>

  <ul id="buscador" class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
      <input type="text" placeholder="Buscar en todas las categorías..." (keyup.enter)="sendit()"
        [(ngModel)]="search"><a id="lens" [routerLink]="['/servicio']">🔎</a>
    </li>
    <!-- 
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <button type="button" class="btn btn-primary" [routerLink]="['/mensajes']">Mensajes</button>
      </li>
    </ul>
    -->
  </ul>
  <a style="margin-left: 17%; margin-top: 0.5%;" href="#" class="btn btn-primary">Profundizar busqueda</a>
</div>
<div style="margin-top: 13%; margin-left: 13%;">
  <h2>Novedades</h2>
  <p id="anuncios">624 anuncios para ti</p>
  <ul>
    <ng-container *ngFor="let ser of servicio">
      <li style="display: inline-block;  padding-top: 2%; margin-right: 2%;" *ngIf="ser.nombre.toLowerCase() == serv.toLowerCase()">
        <div class="card" id="servicios" style="width: 30rem;" [routerLink] = "['/vistaservicio',ser.id]">
          <img class="card-img-top" src="./../../assets/dog.png" style="margin-top: 5%; padding: 5%"
            alt="Card image cap">
          <div class="card-body">
            <h5 class="card-text">{{ser.descripcion}}</h5>
          </div>
        </div>
      </li>
    </ng-container>
  </ul>
</div>
