#card{
    background-color: #39ACA2;
    margin-top: 4%;
    width: 45%;
    border-radius: 20px;
    border-color: #205f5a;
    margin-bottom: 2%;
}

h1{
    font-size: 40px;
    padding-top: 5%;
    padding-bottom: 3%;
    padding-left: 5%;
    width: 300px;
    font-weight: bold;
}

#header{
    display: flex;
}

.btn{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    outline:none;
}
#carouselExampleDark{
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

.carousel-indicators {
    justify-content: center;
    padding-left: 10%;
}

#favButton{
    background-color: white !important; 
    padding-top: 4%; 
    border-color: transparent !important; 
    border-radius: 20px; 
    margin-left: 90% !important; 
    font-size: 35px; 
    margin-top: 45%; 
    width: 60px;
}

#chatButton{
    font-size: 20px; 
    background-color: white !important; 
    border-color: transparent !important; 
    border-radius: 20px; 
    width: 120px; 
    height: 40px; 
    font-weight: bold; 
    margin-top: 5%; 
    margin-left: 15%;
}

#descriptionText{
    width: 90%; 
    color: white; 
    font-size: 18px; 
    padding-left: 10%; 
    padding-top: 5%;
}