<div>Pet PetKeepers
    <p [routerLink]="['/quienesSomos']">Quienes somos</p>
    <p [routerLink]="['/comoFunciona']">Como funciona</p>
</div>
<div>Soporte
    <p [routerLink]="['/preguntasFrecuentes']">Preguntas frecuentes</p>
    <p [routerLink]="['/condicionesDeUso']">Condiciones de uso</p>
    <p [routerLink]="['/cookies']">Cookies</p>

</div>

<div>Contacta con nosotros
    <p>Direccion: Lorem Ipsum Dolor SIt Amet</p>
    <p>Telefono: +34 600 00 00 00</p>
    <p>Correo: soporte@petKeepers.es</p>

</div>

<div>
    Nuestras redes sociales
    <a href="https://www.instagram.com/petkeeper.dawt2/">
    <img src="../../assets/insta.webp" >
</a>
</div>

