<div class="footer">
    <div>
        <h3><b>Pet PetKeepers</b></h3>
        <h5 [routerLink]="['/quienesSomos']">Quienes somos</h5>
        <h5 [routerLink]="['/comoFunciona']">Como funciona</h5>
    </div>

    <div>
        <h3><b>Soporte</b></h3>
        <h5 [routerLink]="['/preguntasFrecuentes']" >Preguntas frecuentes</h5>
        <h5 [routerLink]="['/condicionesDeUso']" >Condiciones de uso</h5>
    </div>

    <div>
        <h3><b>Contacta con nosotros</b></h3>
        <h5>Direccion: Lorem Ipsum Dolor SIt Amet</h5>
        <h5>Telefono: +34 600 00 00 00</h5>
        <h5>Correo: soporte@petKeepers.es</h5>
    </div>

    <div style="text-align: center;">
        <h3><b>Nuestras redes sociales</b></h3>
        <a style="width: 70px;" href="#" class="fa fa-facebook"></a>
        <a style="width: 70px;" href="#" class="fa fa-twitter"></a>
        <a style="width: 70px;" href="#" class="fa fa-instagram"></a>
    </div>
</div>