<nav class="" style="background-color: #39ACA2; margin-bottom: 0px !important;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-7">
        <div class="row">
          <div class="col-1">
            <img [src]="'/assets/logoSinFondo.png'" id="logo" href="#" [routerLink]="['/']">
          </div>
          <div class="col-11">
            <ul >
              <li class="nav-item">
                <input type="text" placeholder="Buscar en todas las categorías..." (keyup.enter)="sendit()"
                  [(ngModel)]="search"> <a id="lens" [routerLink]="['/servicio']">🔎</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-5">
        <div class="row">
          <div class="col">
            <ul class="nav">
              <li class="nav-item">
                <button class="btn btn-primary" aria-current="page"
                  [routerLink]="['/suscripciones']">Suscripciones</button>
              </li>
            </ul>
          </div>
          <div class="col">
            <ul class="nav" *ngIf="token==true">
              <li class="nav-item">
                <button type="button" class="btn btn-primary" [routerLink]="['/mensajes']">Mensajes</button>
              </li>
            </ul>
          </div>
          <div class="col">
            <ul class="nav" >
              <li class="nav-item">
                <button type="button" class="btn btn-primary" [routerLink]="['/perfil',id]">Perfil</button>
              </li>
            </ul>
          </div>
          <div class="col">
            <ul class="nav" *ngIf="token==true">
              <li class="nav-item">
                <button class="btn btn-primary" aria-current="page" (click)="logout()">Cerrar Sesión</button>
              </li>
            </ul>
          </div>
          <div class="col-6">
            <ul *ngIf="token==false" class="nav">
              <li class="nav-item">
                <button class="btn btn-primary" aria-current="page" [routerLink]="['/login']">Iniciar sesión</button>
              </li>
              <li class="nav-item">
                <button class="btn btn-primary" aria-current="page" [routerLink]="['/crearcuenta']"
                  style="margin-left: 60%;">Registrarse</button>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>