<nav class="" style="background-color: #39ACA2; margin-bottom: 0px !important;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-7">
        <div class="row">
          <div class="col-1">
            <img [src]="'/assets/logoSinFondo.png'" id="logo" href="#" [routerLink]="['/']">
          </div>
          <div class="col-11">
            <ul>
              <li class="nav-item">
                <input type="text" placeholder="Buscar servicios..." (keyup.enter)="sendit()"
                  [(ngModel)]="search"> <a id="lens" [routerLink]="['/servicio']">🔎</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-5">
        <div class="row">
          <div class="col">
            <ul class="nav">
              <li class="nav-item">
                <button class="btn btn-primary" aria-current="page"
                  [routerLink]="['/suscripciones',id]">Suscripciones</button>
              </li>
            </ul>
          </div>
          <div class="col">
            <ul *ngIf="token==false" class="nav">
              <li class="nav-item">
                <button class="btn btn-primary" aria-current="page" [routerLink]="['/login']">Iniciar sesión</button>
              </li>
              <li class="nav-item">
                <button class="btn btn-primary" aria-current="page" [routerLink]="['/crearcuenta']"
                  style="margin-left: 60%;">Registrarse</button>
              </li>

            </ul>
            <!--<ul class="col">
              <li class="nav-item">
                <button type="button" class="btn btn-primary" [routerLink]="['/mensajes']">Mensajes</button>
              </li>
              <li class="nav-item">
                <button type="button" class="btn btn-primary" [routerLink]="['/perfil']">Perfil</button>
              </li>

              <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">≡
                </button>
                <ul class="dropdown-menu">
                  <li><a [routerLink]="['/perfil']">PERFIL</a></li>
                  <li><button class="btn btn-primary" aria-current="page" (click)="logout()">Cerrar Sesión</button>
                  </li>
                </ul>
              </div>
            </ul>-->
          </div>

          <div class="col">
            <!--<ul class="nav" *ngIf="token==true">-->
            <ul class="nav">
              <!--
              <li class="nav-item">
                <button type="button" class="btn btn-primary" [routerLink]="['/perfil',id]">Perfil</button>
              </li>
              <li class="nav-item">
                <button type="button" class="btn btn-primary" [routerLink]="['/crearServicio',id]">
                  Nuevo servicio
                </button>
              </li>
              <li class="nav-item">
                <button type="button" class="btn btn-primary" [routerLink]="['/crearMascota',id]">Nueva mascota</button>
              </li>
              -->
              <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">≡
                </button>
                <ul class="dropdown-menu" style="padding: 10px; border-radius: 10px 10px 10px 10px;">
                  <li>
                    <button type="button" class="btn btn-primary" [routerLink]="['/perfil',id]">Perfil</button>
                  </li>
                  <li>
                    <button type="button" class="btn btn-primary" [routerLink]="['/crearServicio',id]">
                      Nuevo servicio
                    </button>
                  </li>
                  <li>
                    <button type="button" class="btn btn-primary" [routerLink]="['/crearMascota',id]">
                      Nueva mascota
                    </button>
                  </li>
                  <li>
                    <button class="btn btn-primary" aria-current="page" (click)="logout()">Cerrar Sesión</button>
                  </li>
                </ul>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>